﻿@model WebApplication1.ViewModel.BMIData
@{
    /**/

    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="/BMI/Index" method="post">
    height:@Html.TextBoxFor(f => f.Height) cm @Html.ValidationMessageFor(f => f.Height)<br />
    weight:@Html.TextBoxFor(f => f.Weight) kg @Html.ValidationMessageFor(f => f.Height)<br />
    <input type="submit" name="name" value="send" />
</form>
<br />

計算結果：  @Model.BMI<br />
等級： @Model.Level
